# 特定のファイル以外は無視する
/*

# pythonモジュールのキャッシュは除外
__pycache__

# prv_ で始まる Python ファイルは除外
prv_*.py

# .gitignore README.md はコミット対象
!/.gitignore
!/README.md

# その他以下のものはコミット対象
!/extension/
!/config.py
!/restart_keyhac.bat
